[Desktop Entry]
Encoding=UTF-8
Version=3.2
Terminal=false
Comment=BRModelo 3.2
Name=BRModelo
Exec=${brmodelo_path}/brmodelo.sh
Icon=${brmodelo_path}/brmodelo.png
StartupWMClass=brmodelo
Type=Application
Categories=Modeling;
MimeType=x-scheme-handler/tg;
X-Desktop-File-Install-Version=0.22
